* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f8f8f8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section.chat-setion {
    width: 8000;
    max-width: 90%;
    background: #fff;
    box-shadow: 0px 10px 15px -3px rgba(0, .0, .0, .0.1), 0px 4px 6px -2px rgba(0, .0, .0, .0.05)
}